@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-item .nav-link:hover {
  color: rgb(86, 86, 86);
  background-color: #f0f0f0;
}