@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav,
.nav,
.navbar a {
  color: rgb(86, 86, 86);
  background-color: #ffffff;
  list-style-type: none;
  display: flex;
  padding: 5px;
  width: 80px;
}

form {
  height: 100%;
  display: inline-block;
}
